<table class="table">
    <tr>
        <th>Name</th>
        <th>Revenue</th>
        <th>Currency Code</th>
        <th>Created By</th>
        <th>Description</th>
        <th></th>
    </tr>
    <% @opportunities.each do |elem| %>
        <tr class="opportunity">
            <td><%= elem.name %></td>
            <td><%= elem.revenue %></td>
            <td><%= elem.currency_code %></td>
            <td><%= elem.created_by %></td>
            <td><%= elem.description %></td>
            <td>

                <%= link_to raw("<i class=\"glyphicon glyphicon-remove\">Delete</i>"),
                            {:action => "delete", :id => elem.id},
                            {class: "btn btn-default", :method => :delete} %>
            </td>
        </tr>
    <% end %>
</table>