<table class="table">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Created By</th>
        <th>Creation Date</th>
    </tr>
    <% @sales_parties.each do |elem| %>
        <tr class="sales-party">
            <td><%= elem.name %></td>
            <td><%= elem.type %></td>
            <td><%= elem.status %></td>
            <td><%= elem.created_by %></td>
            <td><%= elem.created_date %></td>
        </tr>
    <% end %>
</table>