<%= form_for @sales_lead, url: {action: "create"} do |opp| %>
    <div class="panel panel-default">
        <div class="panel-heading">Sales Lead - new record</div>
        <dl class="dl-horizontal">
            <dt><%= label_tag(:name) %></dt>
            <dd><%= opp.text_field :name %></dd>
            <dt><%= label_tag(:currency_code) %></dt>
            <dd><%= opp.select :currency_code, options_for_select(['USD']) %></dd>
            <dt><%= label_tag(:description) %></dt>
            <dd><%= opp.text_field :description %></dd>
        </dl>
    </div>
    <%= button_tag "Create", {class: "btn btn-primary opp submit", :method => "post"} %>
<% end %>
<%= button_to "To list", {action: "list"}, {class: "btn btn-primary opp cancel", :method => "get"} %>



